.layout{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.info{
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width: 580px){
    .image-container{
        grid-template-columns: repeat(1, 1fr);
    }
}